# Python introduction 

Python is an interpreated language 
Python is an object orieanted language. 
Python is high level language with dynamic semantics 
Python are work in various fields such as data science, machine learning, internet of things, web development. 
Python is platform independent language. 
Python consist various libraries like math, numpy, pandas, matplotlib, and many more 
In python various built in function is defined for example input(), max(), min() and etc. 
python support dynamic memory allocation.

# print function

In [3]:
#string print using print function

print('Welcome to python introduction !!!!!!!') 

#integer print using print function

print(3000)

Welcome to python introduction !!!!!!!
3000

# Type function

In [26]:
A = 3000
print(type(A))

B = 33.33
print(type(B))

C = 'Type function'
print(type(C))

D = []
print(type(D))

E = ()
print(type(E))

F = {}
print(type(F))

# G= 2 + 3b ------------------error------------
# print(type(G)) -------------error--------------

H = 1 + 2j
print(type(H))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'complex'>

#  Conversion of string to integer and vice versa

In [31]:
A = '10' 
print(A) 
print(type(A))   
 
i = int(A) 
print(i) 
print(type(i)) 
  
B = str(i) 
print(B) 
print(type(B))
 
    
j = 'string' 
print(j) 
print(type(j)) 
 #--------------------error statment---------vice versa--------------------------
v = int(j) 
print(v) 
print(type(v))

10
<class 'str'>
10
<class 'int'>
10
<class 'str'>
string
<class 'str'>

ValueError: invalid literal for int() with base 10: 'string'

# Memory allocation in variabe and then print them 

Python supports dynamic memory allocation 
dynamic memory allocation ------ run time 
we don't have to define varibale type

In [33]:
a = 45 
b = 90.67 
c = 'string' 

print('value of a is',a, 'value of b is', b, 'value of c is', c) 
print('a =',a) 
print('b =',b) 
print('c =',c)

value of a is 45 value of b is 90.67 value of c is string
a = 45
b = 90.67
c = string

# Comments in python (# and '''------''') 
 
Python support two types of comments 
1) single line comment (#) 
2) multi line comment ('''  
                           ''')

In [37]:
#Python is an interpreated language 
#Python is an object orieanted language. 
#Python is high level language with dynamic semantics 

"""Python are work in various fields such as data science, machine learning, internet of things, web development. 
Python is platform independent language. 
Python consist various libraries like math, numpy, pandas, matplotlib, and many more 
In python various built in function is defined for example input(), max(), min() and etc. 
python support dynamic memory allocation."""

'Python are work in various fields such as data science, machine learning, internet of things, web development. \nPython is platform independent language. \nPython consist various libraries like math, numpy, pandas, matplotlib, and many more \nIn python various built in function is defined for example input(), max(), min() and etc. \npython support dynamic memory allocation.'

# Operators in python 

1) Arithmetic operators
2) Assignment operators
3) Comparison operators
4) Logical operators
5) Identity operators
6) Membership operators
7) Bitwise operators

# Arithmetic Operator 
 
Arithmetic operators are used with numeric value to perform common mathematical operations

+
-
*
/
//
%

In [39]:
a = 10 
b = 2 
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b) 
print('--------------------------------') 
a = 10 
b = 3 
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

12
8
20
5.0
5
0
--------------------------------
13
7
30
3.3333333333333335
3
1

# Print no in reverse using arithmetic operators 
 
num%10 :- it will return last digit of number
 
num//10 :- it will remove last digit from number

In [45]:
a = 123 
r = a%10  
print(r)
a = a//10 
r = a%10 
print(r)  
a = a//10 
r = a%10 
print(r)

3
2
1

# 10% discount in bill logic using arithmetic operators 

10/100 = 0.1 or 1/10

In [49]:
a = 500 
d = a * 0.1 
print('product prince  ', a)
print('10% discount   ',  d) 
print('total amount  ', a-d)

product prince   500
10% discount    50.0
total amount   450.0

# Assignment Operators 

assignment operators are used to assign values to variable 
+= 
-= 
*= 
/=
//=
%= 
**=

In [62]:
a = 10 
a += 10 
print(a)

a -= 10 
print(a) 

a /= 10 
print(a)

a *= 10
print(a)

a //= 10 
print(a)

a %= 10 
print(a)

a **= 10 
print(a)

20
10
1.0
10.0
1.0
1.0
1.0

# Comparison Operators 

comparison operators are use to compare two values 

> 
< 
>= 
<= 
!= 
==

In [63]:
a = 5 
b = 3 

print(a>b) 
print(a<b) 
print(a>=b) 
print(a<=b)
print(a!=b) 
print(a==b)

True
False
True
False
True
False

# Logical Operators 

logical operators are used to combine conditional statment

and :- return true if both statments are true 
or  :- return true if one or more than one statments is true 
not :- Reverse the result, returns False if the result is true

# and operator truth table 

condition1   condition2   output 
    T             T          T 
    T             F          F 
    F             T          F 
    F             F          F

In [64]:
a = 50 
print(a>0 and a<=100) 
print(a>0 and a<=100 and a == 50) 
print(a>0 and a<=100 and a == 10) 
print(a>0 and a<=100 and a == 50 and a%10 == 0)
print(a>0 and a<=100 and a == 67 and a%10 == 0)

True
True
False
True
False

# or operator truth table 

condition1   condition2   output 
    T             T          T 
    T             F          T 
    F             T          T 
    F             F          F

In [65]:
a = 50 
print(a>0 or a<=100) 
print(a>0 or a<=100 or a == 50) 
print(a>0 or a<=100 or a == 10) 
print(a>0 or a<=100 or a == 50 or a%10 == 0)
print(a>0 or a<=100 or a == 67 or a%10 == 0)

True
True
True
True
True

# not operator truth table 

condition     not(output)
   T              F 
   F              T

In [66]:
a = 10 
print(not a>0)
print(not a>0 or a==50)
print(not(a>0 or a==50))

False
False
False

#  Identity operators 

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location 
 
is :- Returns True if both variables are the same object. 
is not :- Returns True if both variables are not the same object.

In [69]:
a = 'hello' 
b = 'hello' 
c = 'python'  
a = d 
print('working of is')    
print(a is b) 
print(a is c) 
print(a is a) 
print(a is d) 
print('------------------') 
print('working of is not')
print(a is not b) 
print(a is not c) 
print(a is not a) 
print(a is not d)

working of is
False
False
True
True
------------------
working of is not
True
True
False
False

# Membership Operators 
 
Membership operators are used to test if a sequence is presented in an object. 

in :- Returns True if a sequence with the specified value is present in the object
not in :- Returns True if a sequence with the specified value is not present in the object

In [78]:
a = 'hello' 
b = 'hello' 
c = 'python'  
print('working of in')     
print(b in a) 
print(c in a)
print('b' in a) 
print('h' in a) 
print('o' in b) 
print('a' in b) 
print('-----------------------')  
print('working of not in')
print(b not in a) 
print(c not in b)
print('b'  not in a) 
print('h'  not in a) 
print('o'  not in b) 
print('a'  not in b)

working of in
True
False
False
True
True
False
-----------------------
working of not in
False
True
True
False
False
True